<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main page</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link
      rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="assets/css/components-style.css">
  </head>
  <body class="body">
    <main class="main">
      <section class="main-links">
        <a class="widget-redirect" target="_blank" href="components/team.html">Команда</a>
        <a class="widget-redirect" target="_blank"
          href="components/conversation.html">Чат</a>
        <a class="widget-redirect" target="_blank"
          href="components/announcements.html">Новости</a>
        <a class="widget-redirect" target="_blank"
          href="components/contacts.html">Форма</a>
      </section>
    </main>
  </body>
</html>