<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
      initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wow! beauty</title>
    <script src="https://kit.fontawesome.com/07eb5a58eb.js"
            crossorigin="anonymous"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/landing.css">
</head>
<body>
<div class="container-fluid p-0 m-0">
    <header class="header">
        <div class="logo">
            <a href="#" class="logo__link">
                <img src="../assets/images/landing/landing-logo.svg" alt="logo of
              the site" class="logo__image">
                <p class="logo__title">Toutem</p>
            </a>
        </div>
        <div class="d-none d-sm-block d-sm-none d-md-block d-md-none
          d-lg-block">
            <nav class="header__navigation">
                <a href="#" class="header__link">Home</a>
                <a href="#about" class="header__link">About us</a>
                <a href="#shop" class="header__link">Shop</a>
                <a href="#contact" class="header__link">Contact</a>
            </nav>
        </div>
        <div class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block
          d-flex">
            <div class="header__buttons">
                <button class="button header__cart-button">
                </button>
                <button class="button header__search-button">
                </button>
            </div>
        </div>
        <div class="d-md-block d-lg-none">
            <div class="d-flex align-items-center justify-content-end">
                <button class="button slider__menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="row align-items-center mt-5">
            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 ps-5">
                <div class="main__page-info">
                    <h1 class="main__page-title">Pear kiwi & Mint</h1>
                    <p class="main__page-text">They say that home is where the heart
                        is. Perhaps that’s why a
                        feeling of loss is so apparent when you are far from the ones
                        you
                        love.
                    </p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-9 col-md-8 col-sm-7">
                <div class="main__page-image">
                    <img src="../assets/images/landing/background-main.svg"
                         alt="background
                main image">
                </div>
            </div>
        </section>

        <section class="options">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <div class="options__card">
                    <div class="options__card-item">
                        <img src="../assets/images/landing/essential-oils-icon.svg"
                             alt="essential oils icon" class="options__card-image">
                        <h3 class="options__card-title">Essential oils</h3>
                    </div>
                </div>
                <div class="options__card">
                    <div class="options__card-item">
                        <img src="../assets/images/landing/natural-cosmetics-icon.svg"
                             alt="natural cosmetics icon" class="options__card-image">
                        <h3 class="options__card-title">Natural cosmetics</h3>
                    </div>
                </div>
                <div class="options__card">
                    <div class="options__card-item">
                        <img src="../assets/images/landing/diffusers-icon.svg"
                             alt="diffusers icon" class="options__card-image">
                        <h3 class="options__card-title">Diffusers</h3>
                    </div>
                </div>
                <div class="options__card">
                    <div class="options__card-item">
                        <img src="../assets/images/landing/aromatherapy-icon.svg"
                             alt="aromatherapy icon" class="options__card-image">
                        <h3 class="options__card-title">Aromatherapy</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="collection">
            <div class="d-flex justify-content-center justify-content-xl-between justify-content-lg-between
            justify-content-md-between
            justify-content-sm-center">
                <div class="collection__image d-sm-none d-md-block
                d-none d-sm-block">
                    <img src="../assets/images/landing/background-collection.svg"
                         alt="background main image" class="collection__image">
                </div>
                <div class="collection__info">
                    <h2 class="collection__title">Improve your well-being with
                        Aromatherapy</h2>
                    <p class="collection__text">Diffusing can be exactly what you
                        need to add purpose and focus to your daily tasks. We've got
                        tons of fun diffuser blends, with scents to suit every mood,
                        day and situation.</p>
                    <button class="button collection__button">Explore the Collection</button>
                </div>
            </div>
        </section>

        <section class="soap" id="shop">
            <div class="row">
                <div class="col-xl-7 col-lg-7 p-0">
                    <div class="soap__info">
                        <h2 class="soap__info-title">Our luxury soaps are 100% natural
                            providing nourishing benefits for your skin.</h2>
                        <button class="button soap__button">Shop all</button>
                    </div>
                </div>
                <div class="col-5 p-0 d-sm-none d-md-block d-md-none d-lg-block
                d-none d-sm-block">
                    <img src="../assets/images/landing/picture-soap.png" alt="soap
                  picture" class="soap__photo">
                </div>
            </div>
        </section>

        <section class="bestsellers">
            <div class="row align-items-center justify-content-lg-around justify-content-md-around">
                <div class="col-xl-4 col-lg-3 align-items-center">
                    <h2 class="bestsellers__title">Bestsellers</h2>
                    <button class="button bestsellers__button">Shop all</button>
                </div>
                <div class="col-xl-8 col-lg-5 col-md-6">
                    <div class="row justify-content-center">
                        <div class="col-xl-5">
                            <div class="bestsellers__card">
                                <div class="bestsellers__card-item">
                                    <img src="../assets/images/landing/brown-diffuser.png"
                                         alt="black diffuser" class="bestsellers__card-image">
                                    <div class="bestsellers__card-info">
                                        <div class="row justify-content-sm-between">
                                            <div class="col-lg-10 col-md-10 col-sm-7 col-10">
                                                <div class="row row-cols-3">
                                                    <div class="col-9">
                                                        <h3 class="bestsellers__card-title">Aroma Diffuser</h3>
                                                    </div>
                                                    <div class="col-3 d-flex align-items-center"><span
                                                            class="bestsellers__card-cost">$20</span></div>
                                                    <div class="col-12"><p class="bestsellers__card-text">Original
                                                        product comes in three styles of color, usb charger</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <img src="../assets/images/landing/icon-add-to-cart.svg"
                                                     alt="add to cart icon" class="bestsellers__card-icon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 d-none d-xl-block">
                            <div class="bestsellers__card">
                                <div class="bestsellers__card-item">
                                    <img src="../assets/images/landing/black-diffuser.png"
                                         alt="black diffuser" class="bestsellers__card-image">
                                    <div class="bestsellers__card-info">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="row row-cols-3">
                                                    <div class="col-9">
                                                        <h3 class="bestsellers__card-title">Lux Aroma Diffuser</h3>
                                                    </div>
                                                    <div class="col-3 d-flex align-items-center"><span
                                                            class="bestsellers__card-cost">$15</span></div>
                                                    <div class="col-12"><p class="bestsellers__card-text">Beautiful
                                                        decorative object, perfumes the space with your favorite
                                                        fragrance.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <img src="../assets/images/landing/icon-add-to-cart.svg"
                                                     alt="add to cart icon" class="bestsellers__card-icon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="button slider__menu slide__menu-action">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog">
            <div class="d-flex align-items-center flex-column flex-wrap
            mt-5">
                <h2 class="blog__main-title">Blog</h2>
                <div class="blog__articles">
                    <article class="blog__post">
                        <img src="../assets/images/landing/blog-image.png" alt="post
                  image" class="blog__post-image">
                        <h3 class="blog__post-title">How to create your own essential oil diffuser blends
                        </h3>
                        <p class="blog__post-text">As you begin creating your own diffuser blends, it’s
                            important
                            to keep a few ...</p>
                    </article>
                    <article class="blog__post d-none d-lg-block">
                        <img src="../assets/images/landing/blog-image.png" alt="post
                  image" class="blog__post-image">
                        <h3 class="blog__post-title">How to create your own essential oil diffuser blends
                        </h3>
                        <p class="blog__post-text">As you begin creating your own diffuser blends, it’s
                            important
                            to keep a few ...</p>
                    </article>
                    <article class="blog__post d-none d-xl-block">
                        <img src="../assets/images/landing/blog-image.png" alt="post
                  image" class="blog__post-image">
                        <h3 class="blog__post-title">How to create your own essential oil diffuser blends</h3>
                        <p class="blog__post-text">As you begin creating your own diffuser blends, it’s
                            important
                            to keep a few ...</p>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer" id="about">
        <div class="logo footer__logo-position">
            <a href="#" class="logo__link">
                <img src="../assets/images/landing/landing-logo.svg" alt="logo of
              the site" class="logo__image">
                <p class="logo__title">Toutem</p>
            </a>
        </div>
        <div class="footer__position">
            <div class="footer__info" id="contact">
                <div class="footer__column">
                    <h3 class="footer__title">
                        Customer Support
                    </h3>
                    <ul class="footer__info-list">
                        <li class="footer__info-list-item"><a href="#">Shipping</a></li>
                        <li class="footer__info-list-item"><a href="#">Free Return</a></li>
                        <li class="footer__info-list-item"><a href="#">Track your Order</a></li>
                        <li class="footer__info-list-item"><a href="#">Gift Cards</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h3 class="footer__title">About us</h3>
                    <ul class="footer__info-list">
                        <li class="footer__info-list-item"><a href="#">Our Values</a></li>
                        <li class="footer__info-list-item"><a href="#">Sustainability</a></li>
                        <li class="footer__info-list-item"><a href="#">Brand Ambassadors</a></li>
                        <li class="footer__info-list-item"><a href="#">Fitness
                            Professionals</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h3 class="footer__title">Customer Service</h3>
                    <ul class="footer__info-list">
                        <li class="footer__info-list-item"><a href="#">Help</a></li>
                        <li class="footer__info-list-item"><a href="#">Leader Support</a></li>
                        <li class="footer__info-list-item"><a href="#">Pleasant Grove
                            Product Center</a></li>
                        <li class="footer__info-list-item"><a href="#">Recall—Important
                            Safety Information</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p class="copyright__text">copyright © 2022 Toutem</p>
                <p class="copyright__text">all rights reserved.</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>