:root {
    --text-color: #5C5F62;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.body {
    background-color: #d3d6dc;
}

.main {
    margin: 50px;
}

.main a {
    font-family: 'Quicksand', sans-serif;
    width: 12em;
    display: block;
    color: #ff33a8;
    background-color: #fff;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 5px 5px #a6a4a4;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.main a:hover {
    background-color: #ff33a8;
    color: white;
}

.container {
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    margin: 50px;
}

.chat__page, .news__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.chat__page-avatar > img, .news__item-avatar > img {
    position: relative;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.chat__page-info, .news__item-info {
    flex: 10;
    margin-left: 13px;
}

.chat-info > h2, .news__item-info > h2 {
    padding-bottom: 5px;
}

.chat__page-info p, .news__item-info p {
    font-size: 13px;
    line-height: 20px;
    color: var(--text-color);
}

/*team component (start)*/

.team__wrapper {
    width: 1020px;
    height: 288px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    padding: 10px 5px;
    border: none;
    border-radius: 7px;
    width: 5.72em;
    background-color: #EEE9FD;
    color: #6F47EB;
    cursor: pointer;
}

.header__button p {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    position: relative;
    padding-left: 20px;
}

.header__button p::before {
    content: url('../images/team/team-plus-icon.svg');
    position: absolute;
    top: 10%;
    left: 10%;
}

.header__info > h1 {
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 4px;
}

.header__description {
    color: var(--text-color);
    letter-spacing: -0.01em;
}

.team__cards {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.team__card-item {
    width: 13em;
    height: 13em;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    position: relative;
}

.team__card-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.team__card-item > img {
    border-radius: 50%;
    display: inline-block;
}

.team__card-item > h2 {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

.team__card-item > p {
    color: var(--text-color);
    padding: 5px;
}

.team__card-item > i.fa-ellipsis {
    font-size: 23px;
    color: var(--text-color);
    position: absolute;
    top: 7%;
    left: 80%;
}

/*team component (end)*/


/*conversation component (start)*/

.conversation__wrapper {
    width: 416px;
    height: 516px;
    padding: 16px 28px;
}

.chat__title {
    font-weight: 500;
    font-size: 18px;
}

.chat__title::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
    display: block;
    margin-top: 14px;
}

.chat__page-time p {
    font-size: 13px;
    margin-bottom: 26px;
    color: var(--text-color);
}

/*conversation component (end)*/


/*announcement component (start)*/

.news__item {
    margin-top: 20px;
}

.news__page {
    width: 500px;
    height: 440px;
    padding: 20px 25px;
}

.news__title {
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
}

.news__text {
    color: var(--text-color);
    padding-top: 7px;
}

.news__meatball > i.fa-ellipsis {
    font-size: 24px;
    color: var(--text-color);
    position: absolute;
    top: 0;
    right: 0;
}

.news__item-title {
    font-size: 15px;
    font-weight: 500;
}

.news__item-text {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
    line-height: 20px;
}

.news__item-text > .fa-at {
    font-size: 20px;
    font-weight: 400;
    padding: 0 5px 0 12px;
}

.news__item-text > .user__email {
    color: #6F47EB;
    cursor: pointer;
}

.news__item-text > i {
    padding: 0 5px;
    font-size: 15px;
}

.thin {
    font-weight: 400;
}

.features {
    padding: 0 30px;
}

/*announcement component (end)*/

/*contacts component (start)*/

.wrapper {
    width: 472px;
    height: 389px;
    padding: 14px 30px 10px 14px;
}

.form__header {
    font-size: 16px;
    font-weight: 500;
}

.form__header::after {
    content: '';
    background-color: #000;
    height: 1px;
    display: block;
    margin-top: 14px;
}

.form__title {
    padding: 20px 0 6px;
    color: var(--text-color);
}

.form {
    display: flex;
    justify-content: space-between;
}

fieldset {
    border: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}

.email__field-input {
    padding: 10px 20px;
    width: 330px;
    border: solid 1px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
}

.form__button{
    width: 90px;
    height: 39px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.note__block {
    background-color: #EDEDED;
    padding: 12px 10px;
    margin: 12px 0;
    border-radius: 6px;
}

.note__block p {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
}

.agree__block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}


.agree__block h2 {
    font-size: 15px;
    font-weight: 500;
}

.agree__block p {
    color: var(--text-color);
    padding: 10px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 19px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {
    display: none;
}

.slider::before{
    position: absolute;;
    content: '';
    height: 17px;
    width: 17px;
    left: 1px;
    bottom: 1px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider {
    background-color: #6F47EB;
}

input:checked + .slider::before {
    transform: translateX(12px);
}

.submit__button {
    margin-top: 31px;
    margin-bottom: 35px;
    padding: 10px 20px;
    width: 428px;
    height: 38px;
    background: #333333;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

/*contacts component (end) */



