<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Announcements</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/07eb5a58eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/components-style.css">
</head>
<body>
<div class="container news__page">
    <h1 class="news__title">Announcements</h1>
    <p class="news__text">From personal and team project</p>
    <main>
    <div class="news__item">
        <div class="news__item-avatar">
            <img src="../assets/images/announcement/announcement-anderson.png" alt="profile photo">
        </div>
        <div class="news__item-info">
            <h2 class="news__item-title">We have fixed our app’s bugs based on test res...</h2>
            <p class="news__item-text"><i class="fa-regular fa-calendar"></i>25 Aug 2022 - 11:30AM <i class="fa-solid fa-at"></i> From <a class="user__email">Anderson</a></p>
        </div>
        <div class="news__meatball">
             <i class="fa-solid fa-ellipsis"></i>
        </div>
    </div>

    <div class="news__item features">
        <div class="news__item-icon">
            <img src="../assets/images/announcement/announcement-lighting-icon.svg" alt="icon">
        </div>
        <div class="news__item-info">
            <h2 class="news__item-title">Feature 1 :  Login and signup screen</h2>
            <p class="news__item-text thin">This screens having some minor issues, which stop</p>
        </div>
    </div>

    <div class="news__item features">
        <div class="news__item-icon">
            <img src="../assets/images/announcement/announcement-lighting-icon.svg" alt="icon">
        </div>
        <div class="news__item-info">
            <h2 class="news__item-title">Feature 2 : Payment page not working</h2>
            <p class="news__item-text thin">Our old payment page can’t charge users payment</p>
        </div>
    </div>

    <div class="news__item">
        <div class="news__item-avatar">
            <img src="../assets/images/announcement/announcement-emily.png" alt="profile photo">
        </div>
        <div class="news__item-info">
            <h2 class="news__item-title">Welcome New HR to our team</h2>
            <p class="news__item-text"><i class="fa-regular fa-calendar"></i>24 Aug 2022 - 12:00PM<i class="fa-solid fa-at"></i> From <a class="user__email">Emily</a></p>
        </div>
        <div class="news__meatball">
            <i class="fa-solid fa-ellipsis"></i>
        </div>
    </div>

    <div class="news__item">
        <div class="news__item-avatar">
            <img src="../assets/images/announcement/announcement-juliana.png" alt="profile photo">
        </div>
        <div class="news__item-info">
            <h2 class="news__item-title">UX research phase 1 is done, UI designers Sta...</h2>
            <p class="news__item-text"><i class="fa-regular fa-calendar"></i>16 Aug 2022 - 11:30AM <i class="fa-solid fa-at"></i> From <a class="user__email">Juliana</a></p>
        </div>
        <div class="news__meatball">
            <i class="fa-solid fa-ellipsis"></i>
        </div>
    </div>
    </main>
</div>
</body>
</html>