<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/07eb5a58eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/components-style.css">
</head>
<body>
<div class="wrapper container">
    <h1 class="form__header">Email and Phone Details</h1>
    <main>
        <fieldset class="form">
            <legend class="form__title">Email Address</legend>
            <label>
                <input class="email__field-input" type="email" name="email" placeholder="Johnsonwillamson@gmail.com">
            </label>
            <button class="form__button">Update</button>
        </fieldset>

        <div class="note__block">
            <p>Note : You’ll get confirmation email within 30mins</p>
        </div>

        <div class="agree__block">
            <div class="agree__block-info">
                <h2>Emails for UI kit buying from superpage</h2>
                <p>When someone purchase your UI kit, You’ll get notified</p>
            </div>

            <div class="agree__block-switcher">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>

    </main>

    <button class="submit__button">Submit</button>

</div>
</body>
</html>