<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Teams</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/07eb5a58eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/components-style.css">
</head>
<body>
<div class="container team__wrapper">
  <header class="header">
      <div class="header__info">
          <h1>My Teams</h1>
          <p class="header__description">Teams with assigned tasks</p>
      </div>
      <div>
          <button class="header__button">
              <p>Team</p>
          </button>
      </div>
  </header>
    <main>
        <ul class="team__cards">
            <li class="team__card-item">
                <i class="fa-solid fa-ellipsis"></i>
                <img src="../assets/images/team/team-john.png" alt="user with photo">
                <h2>John's Team</h2>
                <p>2 Members</p>
            </li>

            <li class="team__card-item">
                <i class="fa-solid fa-ellipsis"></i>
                <img src="../assets/images/team/team-user-without-photo.png" alt="user without photo">
                <h2>UX designers</h2>
                <p>45 Members</p>
            </li>

            <li class="team__card-item">
                <i class="fa-solid fa-ellipsis"></i>
                <img src="../assets/images/team/team-juliana.png" alt="user with photo">
                <h2>Juliana's Team</h2>
                <p>5 Members</p>
            </li>

            <li class="team__card-item">
                <i class="fa-solid fa-ellipsis"></i>
                <img src="../assets/images/team/team-user-without-photo.png" alt="user without photo">
                <h2>Senior Developers</h2>
                <p>23 Members</p>
            </li>

            <li class="team__card-item">
                <i class="fa-solid fa-ellipsis"></i>
                <img src="../assets/images/team/team-anderson.png" alt="user with photo">
                <h2>Anderson's Team</h2>
                <p>3 Members</p>
            </li>
        </ul>
    </main>
</div>
</body>
</html>